<main>
  <h2>Edit this <%= @work.category%></h2>
  <section>
    <%= form_with model: @work do |f| %>
    <div class="form-group">
      <%= f.label :category, 'Category of Work' %>
      <%= f.select :desired_attribute, options_for_select([['album'], ['book'], ['movie']]), {}, { :class => 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :publication_year, 'Publication Year' %>
      <%= f.text_field :publication_year, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Update this Work", class: "btn btn-primary" %>
    </div>
    <% end %>
    </section>
</main>


